<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
    <nav>
       <a href="/about">About</a>
       <br>
       <a href="/looks">Looks</a>
       <br>
       <a href="/news">News</a>
       <br>
       <a href="/contact">Contact</a>
       <br>
       <a href="/login">Login</a>
       <br>
    </nav>
        
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
