{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">I Am Eddy, This is My Blog</h3>
                        <p class="section-sub-title">Bienvenue dans mon Antre.</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 match-height mb30">
                        <div class="hover-effect smoothie">
                            <a href="#" class="smoothie">
                                <img src="{{ asset('/dossierFichiers/' ~ 'z3quartdone.jpg')}}" alt="Image" class="img-responsive smoothie"></a>
                            <div class="hover-overlay smoothie text-center">
                                <div class="vertical-align-bottom">
                                    <h4>Eddy dans toute sa splendeur</h4>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-md-4 match-height mb30">
                        <div class="hover-effect smoothie">
                            <a href="#" class="smoothie">
                                <img src="{{ asset('/dossierFichiers/' ~ '1rubanpaquedone.jpg')}}" alt="Image" class="img-responsive smoothie"></a>
                            <div class="hover-overlay smoothie text-center">
                                <div class="vertical-align-bottom">
                                    <h4>Nœud de Lapin!</h4>
                                    <span class="item-category-span">Look at that Look</span>
                                </div>
                            </div>
                            <div class="hover-caption dark-overlay smoothie text-center">
                                <div class="vertical-align-top">
                                    <p class="mb20"><small>Consultez dès à présent le tout dernier look d'Eddy. N'hésitez pas à le liker et à laisser vos commentaires!</small></p>
                                </div>
                                <div class="vertical-align-bottom">
                                    <a href="/looks/one/28" class="btn btn-primary pull-right mb20">Détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 match-height mb30">
                        <div class="hover-effect smoothie">
                            <a href="#" class="smoothie">
                                <img src="{{ asset('/dossierFichiers/' ~ 'newslokiv2.jpg')}}" alt="Image" class="img-responsive smoothie"></a>
                            <div class="hover-overlay smoothie text-center">
                                <div class="vertical-align-bottom">
                                    <h4>Eddy & Loki</h4>
                                    <span class="item-category-span">Latest News</span>
                                </div>
                            </div>
                            <div class="hover-caption dark-overlay smoothie text-center">
                                <div class="vertical-align-top">
                                    <p class="mb20"><small>Qu'arrive-t-il à Eddy en ce moment? Découvrez-le en parcourant a toute dernière News le concernant.</small></p>
                                </div>
                                <div class="vertical-align-bottom">
                                    <a href="/news" class="btn btn-primary pull-right mb20">Détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 match-height mb30">
                        <div class="hover-effect smoothie">
                            <a href="#" class="smoothie">
                                <img src="{{ asset('/dossierFichiers/' ~ '1bonnetorangedone_modifié-1.jpg')}}" alt="Image" class="img-responsive smoothie"></a>
                            <div class="hover-overlay smoothie text-center">
                                <div class="vertical-align-bottom">
                                    <h4>Les Pompons d'Eddy</h4>
                                    <span class="item-category-span">Concours en Cours</span>
                                </div>
                            </div>
                            <div class="hover-caption dark-overlay smoothie text-center">
                                <div class="vertical-align-top">
                                    <p class="mb20"><small>Le tout dernier concours concernant les looks d'Eddy! Vous avez déjà votre compte de fan? Participez-y sans plus tarder!</small></p>
                                </div>
                                <div class="vertical-align-bottom">
                                    {% if app.user != null %}
                                        <a href="/councours" class="btn btn-primary pull-right mb20">Détails</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
