{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Style Details{% endblock %}

{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Style détails</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">


                    <div class="container">
                        <div class="row mb40">


                            
                            <div class="container">
                                <div class="row mb40">

                                    <table class="table">
                                        <thead>  <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6">
                                                            <strong>ID: </strong>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            {{style.id}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>                           

                                            <tr>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6">
                                                            <strong>TYPE DE STYLE: </strong>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            {{style.typestyle}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>                           

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                                                        
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="text-center">        
                                    <a class="btn btn-primary mt30 btn-lg btn-block" href="/zone/admin/styles/delete/{{style.id}}">Supprimer</a>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                </section>

            {% endblock %}