{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Fans{% endblock %}

{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Tous les fans</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">


                    <table class="table  table-striped">
                        <thead style="background-color: #333; color: white">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Pseudo</th>
                                <th scope="col">Email</th>
                                <th scope="col">IsAdmin</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for valeur in lesfans %}
                                <tr>
                                    <th scope="row">{{valeur.id}} </th>
                                    <td>{{valeur.pseudo}} </td>
                                    <td>{{valeur.email}} </td>
                                    <td>
                                        {% if valeur.isadmin == 1 %}
                                            oui
                                        {% else %}
                                            non
                                        {% endif %}
                                    </td>
                                    <td>        
                                        <a class="btn" href="/zone/admin/fans/one/{{valeur.id}}">Détails</a>
                                    </td>
                                </tr>   
                            {% endfor %}

                        </tbody>
                    </table>

                            
                </div>
            </div>
        </div>
    </section>>
{% endblock %}
